
%suisse-light{
    font-family: 'SuisseIntl', Arial, sans-serif;
    font-weight: 300;
}


%suisse-regular{
    font-family: 'SuisseIntl', Arial, sans-serif;
    font-weight: 400;
}

%suisse-medium{
    font-family: 'SuisseIntl', Arial, sans-serif;
    font-weight: 500;
}


%suisse-semibold{
    font-family: 'SuisseIntl', Arial, sans-serif;
    font-weight: 600;
}

%suisse-bold{
    font-family: 'SuisseIntl', Arial, sans-serif;
    font-weight: 800;
}


%NewRoman-light{
    font-family: "Times New Roman", sans-serif;
    font-weight: 300;
}


%NewRoman-regular{
    font-family: "Times New Roman", sans-serif;
    font-weight: 400;
}

%NewRoman-medium{
    font-family: "Times New Roman", sans-serif;
    font-weight: 500;
}
%NewRoman-semibold{
    font-family: "Times New Roman", sans-serif;
    font-weight: 600;
}

%NewRoman-bold{
    font-family: "Times New Roman", sans-serif;
    font-weight: 700;
}
